footer{
    text-align: center;

    & span{
        display: inline-block;
        margin-bottom: 1rem;
    }
}

@media(width>=80rem){
    footer{
        display: flex;
        align-items: center;
        & span{
            margin: 0;
        }
        .links{
            margin-left: auto;
        }
    }
}

